/* IMPOSTAZIONI GENERALI */
body {
  background-image: url(../img/sfondo.png);
  background-size: 500px;
  font-family: "Poppins", sans-serif;
}
/* HEADER */
header {
  /* background-color: #007788; */
  background-image: linear-gradient(to top, #007788, #0099bb);
  text-align: center;
  display: block;
  max-width: 500px;
  margin: 20px;
  box-shadow: 5px 5px 5px black;
}
header p,
a {
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
}
header p {
  border-top: 10px;
  border-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
header p:first-of-type {
  padding-top: 40px;
  padding-bottom: 40px;
}
header p:last-of-type {
  padding-bottom: 40px;
}
header img {
  padding-top: 40px;
}
/* MAIN */
main {
  background-color: rgb(255, 255, 255);

  display: block;
  max-width: 500px;
  margin: 20px;
  font-size: 1.1em;
  font-weight: 500;
  border-left: solid 1px #bbbbbb;
  border-right: solid 1px #bbbbbb;
}
main h1 {
  font-size: 2.5em;
  font-weight: 500;
  padding-top: 1em;
  padding-bottom: 1em;
}
h1 + p {
  color: rgb(180, 177, 177);
}
/* ELEMENTI NEL MAIN - ARTICLE */
main p {
  margin: auto;
  padding: 1em;
  line-height: 2em;
  font-size: 1.2em;
}
main p span {
  color: #aa2072;
}
main ul span {
  background-color: #ddeeee;
  border-radius: 5px;
  border: solid 1px black;
}
main ul li {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0.4em;
  line-height: 1.2em;
  font-size: 1.2em;
}
main ol li {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0.4em;
  line-height: 1.2em;
  font-size: 1.2em;
}
ul li::marker {
  padding-left: 10px;
}

/* TABELLE */
table caption {
  font-style: italic;
  font-weight: 600;
}
table thead {
  background-color: rgb(65, 65, 190);
  height: 50px;
  text-align: center;
  margin: auto;
  color: rgb(255, 255, 255);
}
table thead th {
  border: solid 1px gray;
}
table td {
  margin: auto;
  text-align: center;
  padding: 1em;
  border-bottom: solid 1px grey;
}
table th {
  margin: auto;
  padding: 1em;
  padding-top: 1em;
  text-align: center;
}

a.toolonline {
  color: aqua;
  font-weight: 500;
  text-decoration: underline;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
section h3 {
  text-align: center;
}
section div {
  background-color: #ddddde;
  text-align: left;
  display: block;
  max-width: 500px;
  margin: 20px;
}
section div a {
  color: #0099cc;
  font-weight: 500;
  text-decoration: underline;
  padding: 1em;
  padding-top: 1em;
  margin-top: 1em;
  block-size: block;
}
/* FOOTER */
footer {
  background-color: #005566;
  background-image: linear-gradient(to top, #2a3338, #005566);
  text-align: center;
  display: block;
  max-width: 500px;
  margin: 20px;
  color: aliceblue;
}
footer a {
  color: #ff00fe;
}
footer h3 {
  font-size: 1em;
  font-weight: 500;
  padding-top: 1em;
  padding-bottom: 1em;
}
footer p {
  margin: auto;
  padding: 1.2em;
  line-height: 1.2em;
  font-size: 1em;
  padding-bottom: 10px;
}
